/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ticket {
    background-color: #b91450;
    width: 800px;
    min-height: 31.25rem;
    text-align: center;
    padding: 40px;
}

input, button, select {
    border: 1px solid #b91450;
    padding: 4px;
    font-size: 18px;
    margin-top: 20px;
}

h1 {
    color: #fff;
}

.ticket-result {
    display: none;
}

.ticket-open {
    display: block;
}

.form-body, .result-body {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.insert {
    display: flex;
    justify-content: space-around;
}

form div {
    margin: 0 1.25rem;
}

.name {
    background-color: gray;
    height: 100%;
    padding: 10px;
}

.offer, .carriage, .cp-code, .price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.generated-ticket {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: left;
}