/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ticket {
    background-color: #b91450;
    width: 800px;
    max-height: 31.25rem;
    text-align: center;
    padding: 40px;
}

button {
    border: 1px solid #b91450;
    padding: 4px;
    font-size: 18px;
    margin-top: 20px;
}

h1 {
    color: #fff;
}


.ticket-result {
    display: none;
}

.ticket-open {
    display: block;
}

.form-body, .result-body {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.insert-here {
    display: flex;
    justify-content: center;
}

.insert-here div {
    margin: 0 1.25rem;
}

.name {
    background-color: gray;
    height: 100%;
}

.generated-ticket {
    display: flex;
    justify-content: space-around;
    height: 100px;
}